{# templates/registration/register.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block content %}
    <main class="total-flex m-h">
        <h1 class="mb-4">Inscription</h1>

        <section class="grid grid-gap-40 register bg-white">
            <a href="{{ path('login') }}" class="button-secondary">Déjà inscrit? Connectez-vous</a>

            {{ form_start(registrationForm, {'vars': {'attr': {'class': 'grid grid-gap-20', 'id':'form-register'}}}) }}
            <div class="form-control grid grid-gap-10">
                {{ form_widget(registrationForm.email, {'attr': {'placeholder': 'Adresse email'}}) }}
                <span class="error">{{ form_errors(registrationForm.email) }}</span>
            </div>

            <div class="form-control grid grid-gap-10">
                {{ form_widget(registrationForm.username, {'attr': {'placeholder': 'Nom d\'utilisateur'}}) }}
                <span class="error">{{ form_errors(registrationForm.username) }}</span>
            </div>

            <div class="form-control grid grid-gap-10">
                {{ form_widget(registrationForm.plainPassword, {'attr': {'placeholder': 'Mot de passe'}}) }}
                <span class="error">{{ form_errors(registrationForm.plainPassword) }}</span>
            </div>

            <div>
                <input type="submit" name="" class="btn btn-primary" value="M'inscrire">
            </div>
            {{ form_end(registrationForm) }}

            <div class="grid grid-gap-20 button-box">
                <input type="submit" value="Inscription" id="submit" class="button-primary" form="form-register" name="submit">
                <a href="{{ path('home') }}" class="button-secondary">Retour à l'accueil</a>
            </div>

        </section>
    </main>
{% endblock %}