{# templates/admin/index.html.twig #}

{% extends "base.html.twig" %}

{% block title %}Admin | {{ parent() }}{% endblock %}

{% block content %}
    <h1>Page d'administration</h1>

    <section class="grid grid-gap-40 jc-center mt-4">
        <a class="button-primary" href="{{ path('blog_add') }}">Nouvel article</a>
    </section>

    <section class="grid grid-gap-40">
        <h2 class="mt-4">Articles</h2>
        <section class="grid grid-admin">
            {% for article in articles %}
                <article class="grid grid-gap-10 card-admin">
                    <a href="{{ path('blog_show', {'id': article.id}) }}" class="card-admin-title">
                        {{ article.title }}
                    </a>
                    <div class="card-admin-date">
                        <div>Création : <span>{{ article.publishedAt|date("m/d/Y") }}</span></div>
                        <div>Modification : <span>{{ article.updatedAt|date("m/d/Y") }}</span></div>
                    </div>
                    <div class="card-admin-actions">
                        <a href="{{ path('blog_edit', {'id': article.id}) }}">🖊</a>
                        <a href="{{ path('blog_remove', {'id': article.id}) }}">❌</a>
                    </div>
                </article>
            {% endfor %}
        </section>
    </section>

    <section class="grid grid-gap-40 table-box">
        <h2 class="mt-4">Commentaire(s) en attente</h2>
        <section class="grid grid-admin">
            {% for comment in comments %}
                {% if comment.isValid == 0 %}
                    <article class="grid grid-gap-10 card-admin">
                        <div class="card-admin-title">{{ comment.author }}</div>
                        <div class="td">{{ comment.content }}</div>
                        <div class="card-admin-actions">
                            <a href="{{ path('comment_valid', {'id': comment.id}) }}">
                                ✅
                            </a>
                            <a href="{{ path('comment_remove', {'id': comment.id}) }}">
                                ❌
                            </a>
                        </div>
                    </article>
                {% endif %}
            {% endfor %}
        </section>
    </section>


    <section class="grid grid-gap-40 table-box">
        <h2 class="mt-4">Utilisateurs</h2>
        <section class="grid grid-admin">
            {% for user in users %}
                <article class="grid grid-gap-10 card-admin">
                    <div class="card-admin-title">{{ user.firstname }} {{ user.lastname }}</div>
                    <div class="card-admin-username">{{ user.username }}</div>
                    <div class="card-admin-author">{{ user.pseudo }}</div>
                    <div class="card-admin-roles">
                        {% for role in user.roles %}
                        {{ role }}
                        {% endfor %}
                    </div>
                    <div class="card-admin-actions">
                        <a href="{{ path('admin_user_edit', {'id': user.id}) }}">🖊</a>
                        <a href="{{ path('admin_user_remove', {'id': user.id}) }}">❌</a>
                    </div>
                </article>
            {% endfor %}
        </section>
    </section>
{% endblock %}