{{ form_start(form, {'attr': {'class': 'grid grid-gap-20', 'id': 'form-add-article'}}) }}

<div class="form-control grid grid-gap-10">
    {{ form_label(form.password.first, 'Nouveau mot de passe', {'label_attr': {'class': 'form-control-label'}}) }}
    {{ form_widget(form.password.first) }}
    <span class="error">{{ form_errors(form.password) }}</span>
</div>

<div class="form-control grid grid-gap-10">
    {{ form_label(form.password.second, 'Confirmation mot de passe', {'label_attr': {'class': 'form-control-label'}}) }}
    {{ form_widget(form.password.second) }}
    <span class="error">{{ form_errors(form.password) }}</span>
</div>

<div class="form-control grid grid-gap-10">
    {{ form_label(form.oldPassword, 'Ancien mot de passe', {'label_attr': {'class': 'form-control-label'}}) }}
    {{ form_widget(form.oldPassword) }}
    <span class="error">{{ form_errors(form.oldPassword) }}</span>
</div>

<div>
    <input type="submit" class="button-primary" value="{{ button_label|default('Sauvegarder') }}">
</div>
{{ form_end(form) }}