{# templates/blog/index.html.twig #}

{% extends "base.html.twig" %}

{% block title %}Accueil | {{ parent() }}{% endblock %}

{% block content %}
    <main class="grid grid-gap-40 m-h">
        <h1>Tout les articles</h1>
        <h2>Retrouvez les derniers actualités de mon jeu</h2>

        <section class="grid grid-gap-40 articles">
            {% for article in articles %}
            <article>
                <a href="{{ path('blog_show', {'id': article.id}) }}" class="grid card card-article bg-white">
                    <div class="card-thumb" style="background-image: url('{{ asset('uploads/' ~ article.thumb) }}')">

                    </div>
                    <section class="card-content grid grid-gap-20">
                        <h3 class="card-title">{{ article.title }}</h3>
                        <p class="card-desc">{{ article.chapo }}</p>
                        <p>Écrit par :
                            <span class="card-author">A  FAIRE</span>
                        </p>
                    </section>
                    <p class="card-date">Modifié le : {{ article.updatedAt|date('d/m/Y') }}</p>
                </a>
            </article>
            {% endfor %}
        </section>
    </main>
{% endblock %}

