{# templates/blog/show.html.twig #}

{% extends "base.html.twig" %}

{% block title %}
    {{ article.title }} |
    {{ parent() }}
{% endblock %}

{% block content %}
    <main class="grid grid-center grid-gap-40 m-h">
        <h1>{{ article.title }}</h1>
        <section class="grid grid-gap-40 article bg-white">
            <div class="article-thumb" style="background-image: url('{{ asset('uploads/' ~ article.thumb) }}')"></div>

            <div class="article-content">{{ article.content | raw }}</div>
            <p class="article-categories">
                {% for category in article.categories %}
                    <span class="article-categorie">
                        {{ category.label }}{{ loop.last ? '' : ',' }}
                    </span>
                {% endfor %}
            </p>
            <span class="article-created">
                Créé le : {{ article.publishedAt|date('d/m/Y') }} <span class="article-author"> par Mathéo Zeller</span>
            </span>
            <span class="article-updated">Modifié le : {{ article.updatedAt|date('d/m/Y') }}</span>
            {% if app.user %}
                <section class="grid grid-gap-20 button-box">
                    <a href="{{ path('blog_edit', {'id': article.id}) }}" class="button-secondary">Modifier</a>
                    <a href="{{ path('blog_remove', {'id': article.id}) }}"
                       class="button-secondary">Supprimer</a>
                </section>
            {% endif %}
        </section>

        <section class="grid grid-gap-40 comments bg-white">
            {% if app.user %}
                <h2>Ajouter un commentaire</h2>
                {% include "includes/comment_form.html.twig" %}
            {% else %}
                <a href="{{ path('app_login') }}" class="link-default">Connectez-vous pour laisser un commentaire</a>
            {% endif %}

            <h2>Commentaires</h2>
            {% for comment in comments %}
                {% if comment.isValid == 1 %}
                    <section class="comment grid">
                        <img class="comment-thumb" src="{{ asset('uploads/icons/user.svg') }}"
                             alt="Icone utilisateur">
                        <section class="grid grid-gap-10 comment-content">
                            <h3>{{ comment.author }}</h3>
                            <p class="article-created">Commentaire posté le : {{ comment.createdAt | date('m/d/Y') }}</p>
                            <p>{{ comment.content }}</p>
                        </section>
                    </section>
                {% endif %}
            {% endfor %}
        </section>
    </main>
{% endblock %}