<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}
            Welcome!
        {% endblock %}
    </title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    <meta charset="UTF-8"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <title><?= $title ?> • Xipel, de l'imagination à la conception d'un jeu.</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <meta name="description" content="Voici un exemple de description, elle est encore un peu courte mais va surement changer dans les prochains jours. Elle permet d&#x27;écrire une description"/>
</head>
<body>
{% for message in app.flashes('success') %}
    <div class="notification success">
        <div class="f ai-c notification-message">
            ✅
            <span>Bravo !</span>
        </div>
        {{ message }}
        <i class="fi fi-rr-cross-small"></i>
    </div>
{% endfor %}
{% for message in app.flashes('error') %}
    <div class="notification error">
        <div class="f ai-c notification-message">
            ❌
            <span>Erreur ! </span>
        </div>
        {{ message }}
        <i class="fi fi-rr-cross-small"></i>
    </div>
{% endfor %}
<header>
    <nav>
        <a href="{{ path('app_home') }}">
            <img src="{{ asset('uploads/LeZellus.gif') }}" alt="Logo de Mathéo en Pixel art" class="logo logo-nav">
        </a>

        <ul class="nav-link-items" id="nav-link-items">
            <li>
                <a class="nav-link-item" href="{{ path('app_blog') }}">
                    Blog
                </a>
            </li>

            {% if is_granted('ROLE_ADMIN') %}
                <li>
                    <a class="nav-link-item" href="{{ path('app_admin') }}">
                        <img src="{{ asset("uploads/icons/cog.svg") }}" alt="Icon engrenage" class="icon">
                        Admin
                    </a>
                </li>
            {% endif %}

            {% if app.user %}
                <li>
                    <a class="nav-link-item" href="{{ path('app_profil') }}">
                        <img src="{{ asset("uploads/icons/user.svg") }}" alt="Icon utilisateur" class="icon">
                        Profil
                    </a>
                </li>
                <li>
                    <a class="nav-link-item" href="{{ path('app_logout') }}">
                        <img src="{{ asset("uploads/icons/logout.svg") }}" alt="Icon déconnexion" class="icon">
                        Déconnexion
                    </a>
                </li>
            {% else %}
                <li>
                    <a class="nav-link-item" href="{{ path('app_login') }}">Connexion</a>
                </li>

                <li>
                    <a class="nav-link-item" href="{{ path('app_register') }}">Inscription</a>
                </li>
            {% endif %}
        </ul>

        <div class="nav-burger" id="nav-burger">
            <div class="nav-burger-bar"></div>
            <div class="nav-burger-bar"></div>
        </div>
    </nav>
</header>

{% block content %}{% endblock %}

<footer>
    <ul class="grid social-links mt-4">
        <li>
            <a class="grid social-link total-flex" href="https://www.facebook.com/matheo.zeller/">
                <img class="icon" src="{{ asset("uploads/icons/facebook.png") }}" alt="Icone de facebook">
            </a>
        </li>
        <li>
            <a class="grid social-link total-flex" href="https://twitter.com/LeZelller">
                <img class="icon" src="{{ asset("uploads/icons/twitter.png") }}" alt="Icone de twitter">
            </a>
        </li>
        <li>
            <a class="grid social-link total-flex" href="https://www.linkedin.com/in/zellrdesign/">
                <img class="icon" src="{{ asset("uploads/icons/linkedin.png") }}" alt="Icone de Linkedin">
            </a>
        </li>
        <li>
            <a class="grid social-link total-flex" href="https://github.com/LeZellus">
                <img class="icon" src="{{ asset("uploads/icons/github.png") }}" alt="Icone de github">
            </a>
        </li>
        <li>
            <a class="grid social-link total-flex" href="https://www.instagram.com/lepixzel">
                <img class="icon" src="{{ asset("uploads/icons/instagram.png") }}" alt="Icone d'instagram">
            </a>
        </li>
        <li>
            <a class="grid social-link total-flex" href="https://www.instagram.com/lepixzel">
                <img class="icon" src="{{ asset("uploads/icons/cog.svg") }}" alt="Icone engrenage">
            </a>
        </li>
    </ul>
</footer>

{% block scripts %}
    {{ encore_entry_script_tags('app') }}
    <script src="https://cdn.tiny.cloud/1/rw78ruup0slekfnq1t5ss54hodg15wxelpobpasmfafy88c3/tinymce/5/tinymce.min.js"
            referrerpolicy="origin"></script>
    <!-- <script src="/js/app.js"></script> -->
{% endblock %}
</body>
</html>
